{% include "partials/nomodule-polyfill.njk" %}
<footer class="prose prose-sm prose-purple text-center p-6 mx-auto">
    <div>Art from <a href="https://blush.design/artists/pau-barbaro">Pau Barbaro</a></div>
    <div>Workshop produced and run by <a href="https://marinaforhire.com">Marina Martinez</a></div>
    <div>Website build by <a href="https://www.alwaysblank.org">Always Blank</a></div>
</footer>
