<footer class="prose prose-sm prose-purple text-center p-6 mx-auto">
    <div>Art from <a href="https://blush.design/artists/pau-barbaro" rel="noopener noreferrer" target="_blank">Pau Barbaro</a></div>
    <div>Workshop produced and run by <a href="https://marinaforhire.com" rel="noopener noreferrer" target="_blank">Marina Martinez-Bateman</a></div>
    <div>Website built by <a href="https://www.alwaysblank.dev" rel="noopener noreferrer" target="_blank">Always Blank</a></div>
</footer>
{% include "partials/nomodule-polyfill.njk" %}
