<nav class="mb-10">
    <ul class="text-lg">
        <li class="inline-block mr-3">
            <a href="/">Home</a>
        </li>
        <li class="inline-block mr-3">
            <a href="/blog/">Blog</a>
        </li>
    </ul>
</nav>
