---
layout: app.njk
---
<div class="flex flex-col my-6 md:my-16 items-center">
    <h1 class="text-4xl md:text-7xl lg:text-8xl text-center font-black font-display text-purple-600 mb-12 uppercase cursor-default">
        <div class="transform -rotate-6 transition  ease-in-out transition-transform transition duration-300">Confronting</div>
        <div class="transform rotate-12 text-green-400  delay-200 transition-transform transition duration-300">Toxic</div>
        <div class="transform rotate-3 text-pink-400  delay-400 transition-transform transition duration-300">Productivity</div>
    </h1>
    <img src="{% asset_image assets, 'sad.svg' %}" class="w-headerImage max-w-full md:mb-6"/>
</div>

{% if collections.post %}
<div class="mt-6 flex items-center justify-center">
    <a href="/blog" class="text-2xl">
    <span class="text-pink-500 hover:text-white  text-center font-bold p-4 border-4 border-double rounded-md border-pink-300 hover:bg-pink-400 inline-flex">👉 Visit our ✍️ Blog! 👀</span>
    </a>
</div>
{% endif %}

<div class="prose prose-lg md:mt-10">
    {% for section in sections %}
    {% if section.content and section.asset %}
    <div class="{{ section.class }}">
        <div class="md:px-10 md:py-5">
            {{ section.content | md |safe }}
        </div>
        <img src="{% asset_image assets, section.asset %}" class="w-64" alt="{{ section.image_alt }}"/>
    </div>
    {% elseif section.content %}
    <div class="{{ section.class }} my-14 px-5 md:px-10">
        {{ section.content | md |safe }}
    </div>
    {% elseif section.asset %}
    <img src="{% asset_image assets, section.asset %}" class="{{ section.class }}" alt="{{ section.image_alt }}"/>
    {% endif %}
    {% endfor %}
</div>

<noscript><a href="https://www.eventbrite.com/e/confronting-toxic-productivity-tickets-{{ eventbrite.eventId }}"
             rel="noopener noreferrer" target="_blank"></noscript>
<div class="text-center py-16 md:py-44 mt-20 md:mt-32 signup-wrapper">
    <h3 class="font-header mb-8 text-purple-600 text-3xl md:text-4xl font-bold">What are you waiting for?</h3>
    <button id="eventbrite-widget-modal-trigger-{{ eventbrite.eventId }}" type="button"
            class="inline-flex items-center px-6 py-3 border border-transparent shadow-sm text-base font-bold rounded-md text-white bg-pink-400 hover:bg-pink-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500 font-display text-xl">
        🎟️
        <span class="ml-2">Click Here To Sign Up!</span>
    </button>
</div>
<noscript></a>Buy Tickets on Eventbrite</noscript>

<script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

<script type="text/javascript">
    window.EBWidgets.createWidget({
        widgetType: 'checkout',
        eventId: '{{ eventbrite.eventId }}',
        modal: true,
        modalTriggerElementId: 'eventbrite-widget-modal-trigger-{{ eventbrite.eventId }}',
    });
</script>

<img src="{% asset_image assets, 'tree.svg' %}" class="w-32 mx-auto mt-24 md:mt-44" alt="a potted tree"/>
