---
layout: app.njk
---
<div class="flex flex-col md:flex-row-reverse">
    <h1 class="text-4xl md:text-6xl font-header md:-ml-32 text-right md:text-left">
        <div class="">Confronting</div>
        <div class="md:ml-16">Toxic</div>
        <div class="md:ml-32">Productivity</div>
    </h1>
    <img src="{% asset_image assets, 'sad.png' %}" class="w-96"/>
</div>
<div class="flex items-center md:flex-row flex-col">
    <p class="prose prose-xl font-bold">{{ intro | safe }}</p>
    <img src="{% asset_image assets, 'bg1.png' %}" class="w-64"/>
</div>

<div class="prose prose-lg">{{ content | safe }}</div>
