@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.emoji {
    height: 1.2em;
}

strong {
    color: theme('colors.purple.500') !important;
}

.signup-wrapper {
    background-image: url(../images/signup-bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

h1:hover > div {
    transform: rotate(0);
}
